*{
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
}

nav{
    height: 53px;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    margin: 0;
    list-style-type: none ;
}

.menu .menu_link{
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 27px;
}

.subheader{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0, .6);
    height: 87px;
}

.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official{
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;

}

.subheader .subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0, .12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0,0,0, .21);
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo{
    min-height: 800px;
    background: url('../img/backg/uber_bg.jpg') center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin-top: 22px;
    margin: 0;
    text-align: center;
}

.promo .promo_dscr{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn{
    width: 259px;
    height: 63px;
    display: block;
    margin: 118px auto 0;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0,0,0, .21);
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reasons{
    position: relative;
    min-height: 849px;
    padding: 0 33px 64px 43px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 489px 0 489px;
    width: 115px;
    height: 27px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
}

.title {
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}
.reasons .reasons_block .reasons_card-body {
    width: 343px;
}
.reasons .reasons_block .reasons_card-body{
    display: block;
    margin-top: 20px ;
}

.reasons .reasons_block .reasons_card-body .reasons_card-title{
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.reasons .reasons_block .reasons_card-body .reasons_card-text{
    font-weight: 400;
    font-size: 15px;
}
